{% extends "website/base.html" %} {% block content %}
 <h2>Send Bulk Email</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Subject -->
        <div>
            <label for="id_subject">Subject:</label><br>
            {{ form.subject }}
            {% if form.subject.errors %}
                <div style="color:red;">
                    {{ form.subject.errors }}
                </div>
            {% endif %}
        </div>

        <br>

        <!-- Message -->
        <div>
            <label for="id_message">Message:</label><br>
            {{ form.message }}
            {% if form.message.errors %}
                <div style="color:red;">
                    {{ form.message.errors }}
                </div>
            {% endif %}
        </div>

        <br>

        <!-- CSV File -->
        <div>
            <label for="id_file">Upload CSV:</label><br>
            {{ form.file }}
            <small>{{ form.file.help_text }}</small>
            {% if form.file.errors %}
                <div style="color:red;">
                    {{ form.file.errors }}
                </div>
            {% endif %}
        </div>

        <br>

        <button type="submit">Send Emails</button>

    </form>
{% endblock %}
